<html>
<head>
<title>Issues Grouped By Milestone</title>
<link type="text/css" rel="stylesheet" href="waffle.css" />
<link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<style type="text/css">
body { background: #eee; }
h3 { clear: both; }
.card-body {
    float: left;
    width: 75px;
    height: 75px;
    background: #fff;
}
.card-body:hover {
    opacity: 0.85;
    z-index: 0;
}
hr { border-color: #000; }
</style>
</head>
<body>

<div id="container" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Issues Grouped By Milestone</h1>
        </div>
    </div>

    <div id="content">
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <p><em>Last updated <span id="last-updated"></span></em></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>

<script type="text/template" id="milestone-tmpl">
<div class="row">
    <div class="col-sm-12 col-md-3">
        <h2><%- milestone %></h2>
    </div>
    <div class="col-sm-12 col-md-9">
        <% _.each(issuesByStatus, function(issues, status) { %>
            <div class="col-sm-<%- column_size %>">
                <h3><%- status %></h3>
                <% _.each(issues, function(issue) { %>
                <div class="card" data-waffle-url="<%- issue.url %>">
                    <a class="card-body" title="<%- issue.title %>"
                       href="<%- issue.html_url %>"></a>
                </div>
                <% }) %>
            </div>
        <% }) %>
    </div>
</div>
</script>

<script type="text/javascript">
function init(data) {
    var $container = $('#container'),
        $content = $container.find('#content'),
        tmpl = _.template($('#milestone-tmpl').text()),

        validIssues = _.filter(data.issues, isValidIssue),
        sortedIssues = reversed(_.sortBy(validIssues, 'milestone')),
        byMilestone = _.groupBy(sortedIssues, 'milestone'),
        byStatus = _.mapValues(byMilestone, function(issues) {
            return _.groupBy(sortedByStatus(issues), 'status');
        });

    _.each(byStatus, function(issuesByStatus, milestone) {
        var column_size = Math.floor(12 / _.keys(issuesByStatus).length);
        $content.append(tmpl({
            milestone: milestone,
            issuesByStatus: issuesByStatus,
            column_size: column_size
        }));
    });

    $('#last-updated').text(data.last_updated);
}

function isValidIssue(issue) {
    return /^\d{4}-\d{2}-\d{2}$/.test(issue.milestone);
}

function reversed(issues) {
    issues.reverse();
    return issues;
}

function sortedByStatus(issues) {
    return _.sortBy(issues, function(issue) {
        switch (issue.status) {
            case "backlog": return 1;
            case "queue": return 2;
            case "in progress": return 3;
            case "in review": return 4;
        }
        return 0;
    });
}

</script>

<script type="text/javascript" src="output/issues.js"></script>
</body>
</html>
